body{
  margin: 0 auto;
  text-align: center;
  font-family: 'Verdana', sans-serif;
  font-size: 21px;
  color: gray;
  background-color: black;
}

h1{
  font-size:50px;
  font-weight: normal;
  color: white;
  text-align: center;
}

h2{
  font-size:42px;
  font-weight: 300;
  color: white;
  text-align: center;
}

.link a{
  color: aquamarine;
  font-size: 16px;
}

.footer{
  text-align: left;
}
